pre {
  font-size:12px;
  padding:8px 10px 12px;
  background-color:#1d1f21;
  color:#c5c8c6;
  border-radius:8px;
  overflow:hidden;

  .comment { color:#b5bd68; }
  .string { color:#cc6666; }
  .keyword { color:#81a2be; }
  .name { color:#8abeb7; }
  .light { color:#969896; }
  .atom { color:#f0c674; }
  .key2 { color:#de935f; }

  .src {
    background-color:#282A2E;
    color:#DE935F;
    font-size:11px;
    margin:-8px -10px 8px;
    padding:4px 12px;
  }
}